.header {
    background-color: #2E3E90;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo__towns {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.nav__towns {
    color: white;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    
}

.nav__tel {
    color: white;
}